<ion-view view-title="{{data.targetUserName}}" hide-tabs>
  <ion-content class="padding">
    <section class="chats">
      <span ng-repeat="message in chatMessages">
        <span>
          <div ng-class='getBubbleClass(message)'>
            <p ng-bind="message.text"></p>
          </div>
          <div class="clear"></div>
        </span>
      </span>
    </section>
  </ion-content>
  <form name="sendMessageForm" ng-submit="sendMessage(data.message)" novalidate>
    <ion-footer-bar class="bar-stable item-input-inset message-footer" keyboard-attach>
      <label class="item-input-wrapper">
        <input id="msg-input" ng-change="updateTyping()" ng-model="data.message" class="input-message" type="text"
               placeholder="send text to {{data.targetUserName}}">
      </label>
      <div class="footer-btn-wrap">
        <button class="button button-icon icon ion-ios-paperplane footer-btn" type="submit"
                ng-disabled="!data.message || data.message === ''">
        </button>
      </div>
    </ion-footer-bar>
  </form>
</ion-view>
