<ion-view view-title="Chat">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats | filter: noself()" type="item-text-wrap" href="#/tab/chats/{{chat.name}}">
        <img  ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{getLastText(chat.name)}}</p>
        <!--<span class="badge badge-assertive">{{ getLastText(chat.name)}}</span>-->
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
