<ion-tabs class="tabs-icon-top tabs-color-active-positive {{$root.hideTabs}}">

  <ion-tab title="Chat" icon-off="ion-ios-filing-outline" icon-on="ion-ios-filing" href="#/tab/chatlist">
    <ion-nav-view name="tab-chatlist"></ion-nav-view>
  </ion-tab>

  <!--<ion-tab title="Contacts" badge="data.numUsers" badge-style="badge-positive" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" href="#/tab/users" ng-controller="PeopleCtrl">-->
    <!--<ion-nav-view name="tab-users"></ion-nav-view>-->
  <!--</ion-tab>-->

  <ion-tab title="Settings" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

</ion-tabs>
